.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.linkDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
