.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 200px;
}

.formInput {
  width: 320px;
}

.formBtn {
  width: 100px;
}
